{% extends 'base.html' %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        {{ form.as_table }}
    </table>
    <input type="file" name="imgs" multiple>
    <div class="my-3">
        <a
           class="btn btn-sm btn-outline-secondary">사진</a>
        <a
           class="delete btn btn-sm btn-outline-secondary">동영상</a>
    </div>
    <input type="submit" class="btn btn-danger" value="완료">
</form>
{% endblock %}