{% extends 'base.html' %}
{% block content %}

{% if post_list %}
<ul style="width:1000px; margin:0 auto;">
    {% for post in post_list %}
    <a class="btn-secondary" href="{% url 'blog:detail' post.id %}">
        <li class="list-group-item a-hover"><h4>{{ post.title }}</h4>
        <br>
        <p class="small">{{post.date}}</p>
            <div class="d-flex justify-content-end">
                <p class="text-danger small">댓글 수 : {{ post.comment_set.count }}</p></div>
    </li></a>
    {% endfor %}
</ul>
{% else %}
<p class="m-5">게시글이 없습니다.</p>
{% endif %}


<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if post_list.has_previous %}
    <li class="page-item">
        <a class="page-link text-danger" href="?page=1">F</a>
    </li>
    <li class="page-item">
        <a class="page-link text-danger" href="?page={{ post_list.previous_page_number }}">&laquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">F</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&laquo;</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in post_list.paginator.page_range %}
    <!--  보이는 페이지 개수 제한-->
    {% if page_start_num <= page_number and page_end_num >= page_number %}
    {% if page_number == post_list.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link bg-danger border-danger" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link text-danger" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if post_list.has_next %}
    <li class="page-item">
        <a class="page-link text-danger" href="?page={{ post_list.next_page_number }}">&raquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link text-danger" href="?page={{ last_page_num }}">L</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&raquo;</a>
    </li>
        <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">L</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->


{% endblock %}