{% extends 'base.html' %}
{% block content %}
<div style="width:1000px; margin:0 auto;">
    <form action="" method="POST" enctype="multipart/form-data" style="width:1000px">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
            {{ form.media }}
        </table>
<!--            <div class="filebox">-->
<!--                <label for="ex_file">사진</label>-->
<!--                <input type="file" id="ex_file" name="imgs" multiple>-->
<!--            </div>-->
<!--            <div class="my-3">-->
<!--                <a-->
<!--                   class="btn btn-sm btn-outline-secondary">사진</a>-->
<!--                <a-->
<!--                   class="delete btn btn-sm btn-outline-secondary">동영상</a>-->
<!--            </div>-->
        <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-danger" value="완료">
        </div>
    </form>
</div>
{% endblock %}