{% extends "common_base.html" %}
{% block content %}
<h1 class="m-5" align="center">SignUp</h1>
<div align="center" style="float: none; margin:100 auto;">
    <form method="post" class="post-form" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label class="m-right"  for="username">ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label class="m-right"for="password1">Password</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label class="m-right" for="password2">Confirm Password</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label class="m-right" for="email">E-mail</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label class="m-right" for="nickname">Nickname</label>
            <input type="text" class="form-control" name="nickname" id="nickname"
                   value="{{ form.nickname.value|default_if_none:'' }}">
        </div>
        <div class="m-left">
            <span>또는 <a href="{% url 'common:login' %}">로그인 하세요.</a></span>
        </div>
        <button type="submit" class="btn btn-danger m-5">회원가입</button>
    </form>
</div>
{% endblock %}